<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Bolton Area Divers</name>

<description>
This is a Bolton Area Divers App.
</description>

<author href="https://boltonareadivers.co.uk" email="you@example.com">
Ian Reynolds
</author>
<preference name="orientation" value="portrait" />

<icon src="Splash/Android/splash.jpg" gap:platform="android" gap:qualifier="ldpi" />
<icon src="Splash/Android/splash.jpg" gap:platform="android" gap:qualifier="mdpi" />
<icon src="Splash/Android/splash.jpg" gap:platform="android" gap:qualifier="hdpi" />
<icon src="Splash/Android/splash.jpg" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="Splash/Android/splash.jpg"  gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="Splash/Android/splash.jpg"  gap:platform="android" gap:qualifier="fr-xxhdpi" />

<icon src="Icons/Android/mdpi.jpg" gap:platform="android" gap:density="mdpi" />
<icon src="Icons/Android/hdpi.jpg" gap:platform="android" gap:density="hdpi" />
<icon src="Icons/Android/xhdpi.jpg" gap:platform="android" gap:density="xhdpi" />
<icon src="Icons/Android/xxhdpi.jpg" gap:platform="android" gap:density="xxhdpi" />

<preference name="permissions" value="none"/>
</widget>
